.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-container {
  width: 100%;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 45px;
  z-index: 1;
  color: #EE7600;
}

.nav-bar-container a {
  color: white;
  font-size: 14px;
  padding: 10px;
}

a.writeReview {
  padding-left: 0;
}

.login {
  margin-right: 20px;
}


.nav-bar-container a {
  border-bottom: 2px solid none;
}

.nav-bar-container a:hover {
  border-bottom: 2px solid white;
}

.left-bar-navigation > ul, .right-bar-navigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.left-bar-navigation > ul {
  justify-content: flex-start;
}

.right-bar-navigation > ul {
  justify-content: flex-end;
}

.left-bar-navigation ul> li:first-of-type {
  padding-left: 10px;
  min-width: 105px;
}

.nav-bar-container li {
  padding: 10px;
}

.fa-user-circle {
  font-size: 30px;
  color: white;
}

.fa-sort-down {
  color: white;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 40px;
  background-color: rgba(0,0,0,0.4);
}

.dropdown-button:hover {
  background-color: rgba(0,0,0,0.6);
}

.right-bar-navigation > ul > li > img {
  height: 40px;
  width: 40px;
}


//information for dropdown https://www.w3schools.com/css/css_dropdowns.asp
.dropdown-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dropdown-content {
  // display: none;
  left: -230px;
  top: 50px;
  position: absolute;
  background-color: white;
  min-width: 220px;
  min-height: 150px;
  padding: 10px 15px;
  z-index: 3;
  border-radius: 3px;
}

.user-icon:hover .dropdown-content {
  display: block;
}

.flex-dropdown-content {
  display: flex;
  flex-direction: column;

}

.user-icon {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
}

.dropdown-content img {
  width: 60px;
  padding-right: 10px;
  float: left;
}

.dropdown-content a {
  font-size: 15px;
  padding: 0px;
  color: #0073bb;
}

.button-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px;
  border-top: 1px solid lightgrey;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fa-user-friends {
  margin-right: 20px;
}

.user-star {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
  color: white;
  background: red;
}

.fa-star {
  font-size: 10px;
}


.fa-user {
  font-size: 18px;
  padding: 0 10px;
  color: #696969;
}

.dropdown-content p {
  text-align: left;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

.dropdown-content button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  color: #0073bb;
  border: white;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 0;
  cursor: pointer;
}

.dropdown-content button:focus {
  outline: none;
}

.dropdown-content button:hover {
  text-decoration: underline;
}

.dropdown-content a {
  cursor: pointer
}

.user-info > a:hover{
  text-decoration: underline;
  border: none;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

button.logout-button {
  border-top: 1px solid lightgrey;
  padding: 10px 10px;
  font-weight: 400;
}

button.demo-user-button {
  // box-sizing: border-box;
  width: 120px;
  height: 38px;
  color: white;
  border-radius: 3px;
  border: 2px solid white;
  font-size: 14px;
  font-weight: 700;
  background: none;
}

button.demo-user-button:hover {
  background: white;
  color: #696969;
  cursor: pointer;
}

li.demo-user-list:hover {
  border-bottom: none;
}
