.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.modal-container {
  position: relative;
  width: 900px;
  margin: auto;
}
//
.modal-child {
  position: absolute;
  top: 53px;
  right: 1px;
  transform: translate(-50%, -50%);
}
