.background-business-show-info-container {
  color: #323232;
  background: #f2f2f2;
}

.business-show-info-container {
  width: 990px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}


.business-show-info h1{
  font-size: 30px;
  font-weight: 700;
}
