.splash-category-index {
    width: 200px;
    height: 150px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    background: white;
    margin: 10px;
}

.splash-category-index:hover {
    border: 1px solid #0073bb;
    cursor: pointer;
    box-shadow: 0px 5px 6px -6px grey;
}

.splash-category-index:hover h4 {
    color:#0073bb;
}


.splash-category-index > h4 {
    font-weight: 700;
    font-size: 16px;
    color: #696969;
}

// .splash-category-index > h4:hover {
//     font-weight: 700;
//     font-size: 16px;
//     color:#0073bb;
//     cursor: pointer;
// }


.browse-category-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.browse-category {
    color: #CC0000;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    background: #f5f5f5;
}

img.splash-category-images {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    object-fit: 'cover';
}
