.splash-software-container{
    width: 100%;
    margin: 20px 0;
    display: flex; 
    flex-direction: row; 
    justify-content: center;

}
.splash-software-index {
    width: 420px; 
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
}


.splash-software-index:hover {
    border: 1px solid #0073bb;
    cursor: pointer;
    box-shadow: 2px 6px 5px #D3D3D3;
}

.splash-software-container img {
    width: 100px;
    height: 100px;
}

.splash-software {
    margin: 60px 0;
    text-align: center;
    color: #CC0000;
    font-weight: 700;
    font-size: 20px;
}