.red-star {
  background: #d32323;
}

.orange-star {
  background: #FFA500;
}

.grey-star {
  background: #D0D0D0;
}

.coral-star {
  background: #ff7f50;
}

.yellow-star {
  background: #FFD700;
}

.pale-yellow {
  background: #E6BE8A;
}

.show-stars-alignment .user-star {
  padding: 5px 4px;
}

.show-stars-alignment .fa-star {
  font-size: 14px;
}
