.red-star {
  background: #d32323;
}

.orange-star {
  background: #FFA500;
}

.grey-star {
  background: #D0D0D0;
  // width: 150px;
}

.coral-star {
  background: #ff7f50;
}

.yellow-star {
  background: #FFD700;
}

.pale-yellow {
  background: #E6BE8A;
}

.show-stars-alignment .user-star {
  padding: 5px 4px;
}

.show-stars-alignment .fa-star {
  font-size: 14px;
}

.star1, .star2, .star3, .star4, .star5 {
  border-radius: 3px;
}

// div.none-background {
//   color: transparent;
// }
