.signup-errors {
  margin-top: 20px;
  background: #ffc4cd;
  height: 60px;
  border-radius: 3px;
}

.signup-errors-list {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.signup-errors > ul > li {
  color: #000000;
}
