.background-search-icons {
  margin-top: 10px;
  color: white;
  width: inherit;
  // height: 45px;
  // background: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-icons-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-icons-container:hover {
  cursor: pointer;
}

.search-icon-button {
  font-size: 14px;
  font-weight: 600;
}

.search-icon-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-icon-button {
  background: none;
  border: none;
  color: white;
}

.search-icon-button:focus {
  outline: none;
}
// 
// .background-categories-container {
//   background: green;
// }
